.candy-auto,
.candy-root {
  --candy-color-background1: hsl(160 50% 18%);
  --candy-color-background2: hsl(160 50% 16%);
  --candy-color-background3: hsl(160 50% 13%);
  --candy-color-background4: hsl(160 50% 10%);
  --candy-color-text1: hsl(160 50% 70%);
  --candy-color-border1: hsl(160 50% 40%);
  --candy-color-border2: hsl(160 50% 26%);
  --candy-color-border3: hsl(160 50% 24%);
  --candy-color-accent1: hsl(85 100% 70%);
  --candy-color-accent2: hsl(85 100% 90%);
  --candy-color-shadow1: hsl(160 50% 5% / 50%);
}

.candy-primary:where(:not(:disabled)) {
  --candy-color-background2: hsl(85 0% 90%);
  --candy-color-background3: hsl(85 0% 82%);
  --candy-color-shadow1: hsl(200 50% 5% / 70%);
  --candy-color-text1: hsl(85 0% 10%);
  --candy-color-border1: hsl(85 50% 100%);
}
