site-theme-editor {
  grid-area: main;
  display: flex;
  flex: auto;
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  gap: 1px;
}

site-theme-editor .contrast-report {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 1rem;
  background: var(--background);
  color: var(--background);
}

site-theme-editor .contrast-pass {
  color: hsl(120 100% 25%);
}

site-theme-editor .contrast-fail {
  color: hsl(0 100% 40%);
}

site-theme-editor .contrast-table-container {
  width: 100%;
}

site-theme-editor .contrast-table :is(th, td) {
  width: max-content;
  text-align: right;
  font-variant: tabular-nums;
}

site-theme-editor .contrast-table :is(th, td):last-child {
  width: 100%;
  text-align: left;
}

site-theme-editor .editor {
  flex: auto;
  padding: 1rem;
  font-variant: tabular-nums;
}

site-theme-editor > .output {
  flex: auto;
}

site-theme-editor > .output > .preview {
  display: flex;
  padding-bottom: 1rem;
}

site-theme-editor > .output > .report {
  border-bottom: 1px solid black;
}

@media (min-width: 900px) {
  site-theme-editor {
    overflow: hidden;
    overflow: hidden;
    flex-direction: row;
  }

  site-theme-editor > .editor {
    flex: 0 0 var(--site-sidebar-width);
    overflow-y: scroll;
  }

  site-theme-editor > .output {
    overflow-y: scroll;
  }
}
