:root {
  --site-sidebar-width: 300px;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.5;
  --site-font-monospace: "JetBrains Mono", "Cascadia Code", "Menlo", "Consolas",
    monospace;
  --site-font-sans: system-ui, sans-serif;
  font-family: var(--site-font-sans);
  color-scheme: light dark;
}

body {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: max-content 1fr;
}

header {
  grid-area: header;
}

site-nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.content,
section {
  box-sizing: border-box;
  padding: 0 1rem;
  max-width: 100ch;
  margin: 0 auto;
}

.max-content {
  max-width: max-content;
}

.docs-container {
  display: flex;
  flex-direction: column;
}

.docs-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--candy-color-border2);
}

.docs-content {
  flex: auto;
  padding-bottom: 1rem;
}

h2 {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--candy-color-border3);
}

[id] {
  scroll-margin-top: 1rem;
}

summary.candy-button {
  max-width: max-content;
  margin-top: 1rem;
  user-select: none;
}

.site-header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.site-header img {
  image-rendering: pixelated;
}

.site-header div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.site-header {
  padding: 1rem;
  border-bottom: 1px solid var(--candy-color-border1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  box-shadow:
    0 1px 4px 0 var(--candy-color-shadow1),
    0 2px 8px 0 var(--candy-color-shadow1);
  z-index: 1;
}

.site-toc {
  box-shadow: inset 0 -2px 2px 0 var(--candy-color-shadow1);
  padding: 1rem;
  border-bottom: 1px solid var(--candy-color-border2);
  overflow: auto;
}

@media (min-width: 900px) {
  body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "header"
      "main";
  }

  .site-main {
    overflow-y: auto;
  }

  .site-toc {
    border: 0;
    border-right: 1px solid var(--candy-color-border2);
    box-shadow: inset -2px 0 2px 0 var(--candy-color-shadow1);
  }

  .site-header {
    flex-direction: row;
  }
}

pre,
code,
kbd,
samp {
  font-family: var(--site-font-monospace);
  font-variant-ligatures: none;
}

.font-mono {
  font-family: var(--site-font-monospace);
  font-variant-ligatures: none;
}

:where(:not(pre)) > code {
  color: var(--candy-color-text1);
}

textarea {
  resize: vertical;
}

.site-property-editor {
  margin: 1rem 0;
}

.site-property-editor-grid {
  display: grid;
  gap: 1rem;
  align-items: center;
  font-family: var(--site-font-monospace);
}

.site-property-editor-title {
  font-family: var(--site-font-sans);
  margin-top: 0;
  margin-bottom: 1rem;
}

.site-texture {
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--candy-color-text1);
}

.site-columns-auto {
  --gap: 1rem;
  --grid-min: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
  gap: var(--gap);
}

.site-columns-auto-fit {
  --gap: 1rem;
  --grid-min: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-min), 1fr));
  gap: var(--gap);
}

.site-theme-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.25rem;
}

.site-theme-container {
  flex: auto;
  display: grid;
  border: 1px solid black;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 25%);
  border-radius: var(--candy-border-radius);
}

.site-link-header {
  color: inherit;
  text-decoration-line: none;
}

.site-link-header:hover {
  text-decoration-line: underline;
}

.site-table-responsive {
  overflow-x: auto;
}

.site-table-responsive > table {
  width: 100%;
}

.site-table-music > table > thead > tr > th:nth-of-type(2) {
  min-width: 300px;
}

.site-nav-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-nav-menu a {
  display: block;
}

.site-flex-row {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
}

.site-flex-row-wrap {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-flex-column {
  display: flex;
  flex-direction: column;
}

.site-gap-xs {
  gap: 0.25rem;
}

.site-gap-s {
  gap: 0.5rem;
}

.site-gap {
  gap: 1rem;
}

.site-padding {
  padding: 1rem;
}

.site-margin {
  padding: 1rem;
}

.site-spacer {
  padding: 0.5rem;
}

.site-example-heading {
  margin-top: 0;
}

site-copyright,
site-example-css,
theme-switchers,
custom-properties-editor,
inject-example,
site-toc {
  display: block;
}

site-nav {
  display: contents;
}

site-nav nav,
site-nav nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

site-copyright {
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 1px solid var(--candy-color-border2);
}

.site-toc > * {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.site-nav-menu a,
.site-toc a {
  text-decoration-line: none;
}

.site-nav-menu a:hover,
.site-toc a:hover {
  text-decoration-line: underline;
}

.site-toc a {
  display: block;
}

.site-list {
  padding-left: 1rem;
}

.site-theme-button {
  line-height: 2rem;
  text-align: left;
  font-weight: bold;
}

@media (min-width: 900px) {
  .site-property-editor-grid {
    grid-template-columns: max-content minmax(0, 1fr);
  }

  .site-nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .site-toc > * {
    display: flex;
    flex-direction: column;
  }

  .site-nav-menu a {
    display: inline;
  }
}

@media (min-width: 900px) {
  .docs-container {
    flex-direction: row;
    overflow: hidden;
  }

  .docs-sidebar {
    flex: 0 0 var(--site-sidebar-width);
    border-bottom: 0;
    border-right: 1px solid var(--candy-color-border2);
  }

  .docs-content {
    overflow-y: scroll;
  }
}
